.categoria {
  margin: 20px;
  padding: 16px;
  background-color: #9c9c9c;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: #333333 solid 2px;
  display: flex;
  flex-direction: column;
}

.titulo{
  font-size: 1.8em;
  color: #333333;
  margin-bottom: 16px;
  text-align: center;
}

.cat{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

